LogicApps/App Definitions/TeamsUserActivityUserCounts.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "CSVToJSON": {
                "inputs": {
                    "body": {
                        "csv": "@{triggerBody()}",
                        "fileName": "",
                        "rowsToSkip": 1
                    },
                    "function": {
                        "id": "/subscriptions/828ccdf7-38da-4aa4-b635-47ef8aec278e/resourceGroups/iadbcsvtojson/providers/Microsoft.Web/sites/iadbcsvtojson/functions/CSVToJSON>"
                    }
                },
                "runAfter": {},
                "type": "Function"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('CSVToJSON')",
                    "schema": {
                        "properties": {
                            "csv": {
                                "type": "string"
                            },
                            "fileName": {
                                "type": "string"
                            },
                            "rowsToSkip": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "CSVToJSON": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Send_Data": {
                "inputs": {
                    "body": "@{body('Parse_JSON')?['rows']}",
                    "headers": {
                        "Log-Type": "TeamsUserActivityUserCounts"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/api/logs"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "HTTP": {
                "inputs": {
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "authority": "https://login.windows.net",
                        "clientId": "6fa120ce-a0a4-482f-8145-3b62d50f31e1",
                        "secret": "F..wg5BrNHEPUQ-~q47ejk1T4.d.-h6PJ0",
                        "tenant": "5853652e-b1c3-4938-9659-738d1fb447c4",
                        "type": "ActiveDirectoryOAuth"
                    },
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/reports/getTeamsUserActivityUserCounts(period='D7')"
                },
                "recurrence": {
                    "frequency": "Day",
                    "interval": 7
                },
                "type": "Http"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureloganalyticsdatacollector": {
                    "connectionId": "/subscriptions/828ccdf7-38da-4aa4-b635-47ef8aec278e/resourceGroups/joblevin-graph2law/providers/Microsoft.Web/connections/azureloganalyticsdatacollector",
                    "connectionName": "azureloganalyticsdatacollector",
                    "id": "/subscriptions/828ccdf7-38da-4aa4-b635-47ef8aec278e/providers/Microsoft.Web/locations/usgovvirginia/managedApis/azureloganalyticsdatacollector"
                }
            }
        }
    }
}