LogicApps/Templates/SendO365AuditLogstoLogA.json
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"ContentType": {
			"type": "string",
            "defaultValue": "Audit.SharePoint",
            "allowedValues": [                
                "Audit.AzureActiveDirectory",
                "Audit.Exchange",
                "Audit.SharePoint",
                "Audit.General",
                "DLP.All"
            ],
			"metadata": {
				"description": "Content Type to allow for Audit Log Access through API"
			}
		},
        "tenant": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "Azure AD Tenant ID"
            }
        },
        "clientId": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "App Registration/Client ID"
            }            
        },
        "LogAnalyticsConnectorName": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "Log Analytics Workspace ID."
			}
		},
        "LogAnalyticsWorkspaceId": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "Log Analytics Workspace ID."
			}
		},
        "LogAnalyticsWorkspaceKey": {
			"type": "securestring",
			"defaultValue": "",
			"metadata": {
				"description": "Log Analytics Workspace Key."
			}
		},
        "KeyVaultName": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "KeyVault Name."
			}
		}
	},
	"variables": {
        "logicAppName": "[replace(parameters('ContentType'),'.','')]",
        "APIBaseUri": "[concat('https://manage.office.com/api/v1.0/',parameters('tenant'),'/activity/feed/subscriptions')]"
    },
	"resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[variables('logicAppName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": ["[parameters('LogAnalyticsConnectorname')]"],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Check_if_Audit.Sharepoint_Content_Type_Subscription_Started_(Condition)": {
                            "actions": {},
                            "else": {
                                "actions": {
                                    "HTTP": {
                                        "inputs": {
                                            "authentication": {
                                                "audience": "https://manage.office.com",
                                                "authority": "https://login.microsoftonline.com",
                                                "clientId": "[parameters('clientId')]",
                                                "secret": "@body('Get_O365_Management_API_Client_Secret_from_KeyVault')?['value']",
                                                "tenant": "[parameters('tenant')]",
                                                "type": "ActiveDirectoryOAuth"
                                            },
                                            "method": "POST",
                                            "uri": "[concat(variables('APIBaseUri'), '/start?contentType=', parameters('ContentType'))]"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@string(body('Get_List_of_Content_Type_Subscriptions_(HTTP_Request)'))",
                                            "Audit.Sharepoint"
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Get_List_of_Content_Type_Subscriptions_(HTTP_Request)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "For_each": {
                            "actions": {
                                "Get_SharePoint_Audit_Log_Data_for_URI": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://manage.office.com",
                                            "authority": "https://login.microsoftonline.com",
                                            "clientId": "[parameters('clientId')]",
                                            "secret": "@body('Get_O365_Management_API_Client_Secret_from_KeyVault')?['value']",
                                            "tenant": "[parameters('tenant')]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "@items('For_each')['contentUri']"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                },
                                "Send_Data": {
                                    "inputs": {
                                        "body": "@{body('Get_SharePoint_Audit_Log_Data_for_URI')}",
                                        "headers": {
                                            "Log-Type": "[variables('logicAppName')]"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['Log Analytics Connector']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/api/logs"
                                    },
                                    "runAfter": {
                                        "Get_SharePoint_Audit_Log_Data_for_URI": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                }
                            },
                            "foreach": "@body('Parse_JSON')",
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_List_of_Content_Type_Subscriptions_(HTTP_Request)": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://manage.office.com",
                                    "authority": "https://login.microsoftonline.com",
                                    "clientId": "[parameters('clientId')]",
                                    "secret": "@body('Get_O365_Management_API_Client_Secret_from_KeyVault')?['value']",
                                    "tenant": "[parameters('tenant')]",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "GET",
                                "uri": "[concat(variables('APIBaseUri'),'/list')]"
                            },
                            "runAfter": {
                                "Get_O365_Management_API_Client_Secret_from_KeyVault": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Get_O365_Management_API_Client_Secret_from_KeyVault": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://vault.azure.net",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "queries": {
                                    "api-version": "2016-10-01"
                                },
                                "uri": "[concat('https://',parameters('KeyVaultName'),'.vault.azure.net/secrets/O365ClientSecret')]"
                            },
                            "runAfter": {},
                            "type": "Http"
                        },
                        "Get_Sharepoint_Audit_Logs_for_Past_Day_(HTTP_Request)": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://manage.office.com",
                                    "authority": "https://login.microsoftonline.com",
                                    "clientId": "[parameters('clientId')]",
                                    "secret": "@body('Get_O365_Management_API_Client_Secret_from_KeyVault')?['value']",
                                    "tenant": "[parameters('tenant')]",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "GET",
                                "uri": "[concat(variables('APIBaseUri'), '/content?contentType=', parameters('ContentType'),'&startTime=@{addDays(utcNow(),-1)}&endTime=@{utcNow()}')]"
                            },
                            "runAfter": {
                                "Check_if_Audit.Sharepoint_Content_Type_Subscription_Started_(Condition)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@body('Get_Sharepoint_Audit_Logs_for_Past_Day_(HTTP_Request)')",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "contentCreated": {
                                                "type": "string"
                                            },
                                            "contentExpiration": {
                                                "type": "string"
                                            },
                                            "contentId": {
                                                "type": "string"
                                            },
                                            "contentType": {
                                                "type": "string"
                                            },
                                            "contentUri": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "contentUri",
                                            "contentId",
                                            "contentType",
                                            "contentCreated",
                                            "contentExpiration"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "runAfter": {
                                "Get_Sharepoint_Audit_Logs_for_Past_Day_(HTTP_Request)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Run_Daily": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "Log Analytics Connector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections',parameters('LogAnalyticsConnectorName'))]",
                                "connectionName": "[parameters('LogAnalyticsConnectorName')]",
                                "id": "[reference(concat('Microsoft.Web/connections/',parameters('LogAnalyticsConnectorName')),'2016-06-01').api.id]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "location": "[resourceGroup().location]",
            "name": "[parameters('LogAnalyticsConnectorname')]",
            "dependsOn": [],
            "properties": {
                "displayName": "[parameters('LogAnalyticsConnectorname')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azureloganalyticsdatacollector')]"
                },
                "parameterValues": {
                    "username": "[parameters('LogAnalyticsWorkspaceId')]",
                    "password": "[parameters('LogAnalyticsWorkspaceKey')]"
                }
            }
        },
        {
            "type": "Microsoft.KeyVault/vaults/accessPolicies",
            "name": "[concat(parameters('KeyVaultName'), '/add')]",
            "apiVersion": "2019-09-01",
            "dependson": ["[variables('logicAppName')]"],
            "properties": {
                "accessPolicies": [
                    {
                        "tenantId": "[parameters('tenant')]",
                        "objectId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'full').identity.principalId]",
                        "permissions": {
                            "secrets": ["get"]
                        }
                    }
                ]
            }
        }    
    ],
	"outputs": {
        "objectId": {
            "type": "string",
            "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'full').identity.principalId]"
        }
    }
}