LogicApps/Template/GraphAPItoLAW_LogicApp.json
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"logicAppName": {
			"type": "string",
			"metadata": {
				"description": "The name of the logic app to create."
			}
		},
		"graphAPICall": {
			"type": "string",
			"defaultValue": "",
            "allowedValues": [                
                "https://graph.microsoft.com/v1.0/reports/getEmailActivityCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getEmailActivityUserCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getOffice365ActiveUserCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getOffice365ActiveUserDetail(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getOffice365ServicesUserCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getOneDriveActivityFileCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getOneDriveActivityUserCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getOneDriveActivityUserDetail(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getSharePointActivityFileCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getSharePointActivityPages(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getSharePointActivityUserCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getSharePointActivityUserDetail(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getTeamsUserActivityCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getTeamsUserActivityUserCounts(period='D7')",
                "https://graph.microsoft.com/v1.0/reports/getTeamsUserActivityUserDetail(period='D7')",
                "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits",
                "https://graph.microsoft.com/v1.0/auditLogs/signIns"
            ],
			"metadata": {
				"description": "Graph API Call"
			}
		},
		"location": {
			"type": "string",
			"defaultValue": "[resourceGroup().location]",
			"metadata": {
				"description": "Location for all resources."
			}
		},
        "subscriptionId": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "Subscription ID"
			}
		},
        "FunctionAppResourceGroup": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "Subscription ID"
			}
		},
        "FunctionAppName": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "Function App Name"
			}
		},
        "FunctionName": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "Function Name"
			}
		},
        "audience": {
			"type": "string",
			"defaultValue": "https://graph.microsoft.com",
			"metadata": {
				"description": "Function Name"
			}
		},
        "authority": {
			"type": "string",
			"defaultValue": "https://login.windows.net",
			"metadata": {
				"description": "Function Name"
            }
        },
        "clientId": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "App Registration/Client ID"
            }            
        },
        "secret": {
			"type": "securestring",
			"defaultValue": "",
			"metadata": {
				"description": "App Registration Secret"
            }
        },
        "tenant": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "Azure AD Tenant ID"
            }
        },
        "LAWConnectorName": {
			"type": "string",
			"defaultValue": "azureloganalyticsdatacollector",
			"metadata": {
				"description": "Log Analytics Workspace ID."
			}
		},
        "LAWWorkspaceId": {
			"type": "string",
			"defaultValue": "",
			"metadata": {
				"description": "Log Analytics Workspace ID."
			}
		},
        "LAWWorkspaceKey": {
			"type": "securestring",
			"defaultValue": "",
			"metadata": {
				"description": "Log Analytics Workspace Key."
			}
		}
	},
	"variables": {},
	"resources": [
        {
		"type": "Microsoft.Logic/workflows",
		"apiVersion": "2019-05-01",
		"name": "[parameters('logicAppName')]",
		"location": "[parameters('location')]",
        "dependsOn": ["[parameters('LAWConnectorname')]"],
		"tags": {
			"displayName": "LogicApp"
		},
		"properties": {
			"definition": {
                "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                "actions": {
                    "CSVToJSON": {
                        "inputs": {
                            "body": {
                                "csv": "@{triggerBody()}",
                                "fileName": "",
                                "rowsToSkip": 1
                            },
                            "function": {
                                "id": "[concat('/subscriptions/',parameters('subscriptionId'),'/resourceGroups/',parameters('FunctionAppResourceGroup'),'/providers/Microsoft.Web/sites/',parameters('FunctionAppName'),'/functions/',parameters('FunctionName'))]"
                            }
                        },
                        "runAfter": {},
                        "type": "Function"
                    },
                    "Parse_JSON": {
                        "inputs": {
                            "content": "@body('CSVToJSON')",
                            "schema": {
                                "properties": {
                                    "csv": {
                                        "type": "string"
                                    },
                                    "fileName": {
                                        "type": "string"
                                    },
                                    "rowsToSkip": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "CSVToJSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Send_Data": {
                        "inputs": {
                            "body": "@{body('Parse_JSON')?['rows']}",
                            "headers": {
                                "Log-Type": "[split(split(parameters('graphAPICall'),'/')[5],'(')[0]]"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/api/logs"
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "contentVersion": "1.0.0.0",
                "outputs": {},
                "parameters": {
                    "$connections": {
                        "defaultValue": {},
                        "type": "Object"
                    }
                },
                "triggers": {
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "[parameters('audience')]",
                                "authority": "[parameters('authority')]",
                                "clientId": "[parameters('clientId')]",
                                "secret": "[parameters('secret')]",
                                "tenant": "[parameters('tenant')]",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "method": "GET",
                            "uri": "[parameters('graphAPICall')]"
                        },
                        "recurrence": {
                            "frequency": "Day",
                            "interval": 7
                        },
                        "type": "Http"
                    }
                }
            },
            "parameters": {
                "$connections": {
                    "value": {
                        "azureloganalyticsdatacollector": {
                            "connectionId": "[concat('/subscriptions/',parameters('subscriptionId'),'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/',parameters('LAWConnectorname'))]",
                            "connectionName": "[parameters('LAWConnectorname')]",
                            "id": "[concat('/subscriptions/',parameters('subscriptionId'),'/providers/Microsoft.Web/locations/usgovvirginia/managedApis/azureloganalyticsdatacollector')]"                        
                        }
                    }
                }
            }
		}
	    },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "location": "[parameters('location')]",
            "name": "[parameters('LAWConnectorname')]",
            "dependsOn": [],
            "properties": {
                "displayName": "[parameters('LAWConnectorname')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',parameters('subscriptionId'),'/providers/Microsoft.Web/locations/usgovvirginia/managedApis/azureloganalyticsdatacollector')]"
                },
                "parameterValues": {
                    "username": "[parameters('LAWWorkspaceId')]",
                    "password": "[parameters('LAWWorkspaceKey')]"
                }
            }
        }
    ],
	"outputs": {}
}